nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
}

h2 {
  font-size: 20px;
  font-weight: 800;
}
.dark-mode {
  cursor: pointer;
}
div {
  font-weight: 600;
}
/* Styling based on the context of the host component for light mode */
:host-context(.light) nav {
  background-color: var(--l-element);
}
/* Styling based on the context of the host component for dark mode */
:host-context(.dark) nav {
  background-color: var(--d-element);
}
.fixed-top {
  /* position: sticky;
  top: 0; */
  z-index: 100;
  /* padding: -1px 8rem; */
}

@media (min-width: 376px) {
  nav {
    padding: 1.75rem 2rem;
  }
  .fixed-top {
    position: static;
  }
}
