:host-context(.light) .region-filter {
  background-color: var(--l-element);
  color: var(--l-text);
}

:host-context(.dark) .region-filter {
  background-color: var(--d-element);
  color: var(--d-text);
}
.region-filter {
  border: none;
  outline: none;
}
