img {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}
.main {
  position: relative;
}

.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  margin-left: 80px;
  margin-top: 80px;
}
h3 {
  font-size: 32px;
  font-weight: 800;
}
