<div class="country-card">
  <div class="">
    <div *ngIf="country" class="card" [routerLink]="'/' + country.name.common">
      <div class="card-image">
        <img
          [src]="country.flags.svg"
          class="card-img-top"
          alt="country.flags.alt"
        />
      </div>

      <div class="card-body">
        <div class="card-content">
          <h5 class="card-title fw-bold-800">{{ country.name.common }}</h5>
          <p class="card-text">
            <strong>Population: </strong>
            {{ country.population | number : "1.0" }}
          </p>
          <p class="card-text"><b>Region: </b> {{ country.region }}</p>
          <p class="card-text">
            <strong>Capital: </strong> {{ country.capital }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
