<!-- SEARCH FILTER AND THE REGION FILTER HTML -->

<!-- REGION FILTER -->
<div class="container-fluid">
  <div class="filter-container row">
    <div class="search-filter-div form-control col-sm-12 col-md-4">
      <span class="fa fa-search"></span>
      <input
        class="search-filter"
        type="text"
        placeholder="Search for a country..."
        aria-label="default input example"
        id="countrySearch"
        name="countrySearch"
        [(ngModel)]="searchFilter"
      />
    </div>

    <div class="region-filter col-sm-12 col-md-6">
      <app-region-filter
        [options]="regionOptions"
        [(value)]="regionFilter"
      ></app-region-filter>
    </div>
  </div>
</div>

<!-- COUNTRY CARD INSERTIONS -->
<div class="container-xxl country-card">
  <div class="row">
    <div class="">
      <app-country-card
        *ngFor="let country of countries"
        [country]="country"
        class="col-12 col-md-6 col-lg-3 grid-responsive"
      >
      </app-country-card>
    </div>
  </div>
</div>
